{% load static %}

<!DOCTYPE html>
<html lang="pt-BR">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous">
  <link rel="stylesheet" href="{% static 'css/style.css' %}">
  <title>Document</title>
</head>
<body>
  <!-- #1f2937(campo input); #111827(tarefa); #eee(nomes)-->
  <section>
    <div class="container">
      <div class="row">
        <div class="col-lg-8">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Amet recusandae aperiam ab ipsa, temporibus cum tempora, nisi odio labore numquam, incidunt quo reprehenderit tempore ut earum rerum rem atque dolores.
        Repellat nobis atque ullam molestias quos dolorem repellendus et, perspiciatis facilis distinctio reiciendis? Nostrum iure temporibus illo culpa, minus debitis quia dolorum praesentium ut nihil repellat eveniet numquam natus. Harum.</div>
        <div class="col-lg-4">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Asperiores aut ullam eius quis sunt reiciendis laborum provident repellendus tempore inventore culpa et perspiciatis, modi nesciunt, libero nisi quasi corporis voluptatibus.
        Aut velit provident minima amet ipsa et, fugiat neque iure impedit maxime veniam quo quasi, culpa rem labore nisi natus expedita. Deleniti architecto ratione beatae illo iusto vel iste necessitatibus.</div>
      </div>


    </div>
  </section>
  

  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-u1OknCvxWvY5kfmNBILK2hRnQC3Pr17a+RTT6rIHI7NnikvbZlHgTPOOmMi466C8" crossorigin="anonymous"></script>
</body>
</html>