{% load static %}

<!DOCTYPE html>

<html lang="pt-BR">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="{% static 'css/style.css' %}">
  <title>Lista de Tarefas</title>
</head>
<body>
  <header>
    <h1>Lista de Tarefas</h1>
    <form id="new-task-form" action="{% url 'tarefa:index' %}" method="POST">
      {% csrf_token %}
      <input 
        type="text"
        id="new-task-input"
        placeholder="O que tem planejado?"
        name="nome">
      <input
        id="new-task-submit"
        type="submit" 
        value="Adicionar">
    </form>
  </header>

  <main>
    <section class="task-list">
      <h2>Tarefas</h2>
      {% for tarefa in tarefas %}
        {% csrf_token %}
        <div id="tasks">
            <div class="task">
              <div class="content">
                  <input 
                    type="text"
                    class="text"
                    value="{{ tarefa.nome }}"
                    >
              </div>
              <div class="actions">
                <form action="{% url 'tarefa:editar' tarefa.id %}" method="POST">
                  {% csrf_token %}
                  <button type="submit" class="edit">Editar</button>
                  <input type="hidden" value="checked" name="feita">
                </form>

                <form action="{% url 'tarefa:apagar' tarefa.id %}" method="POST">
                  {% csrf_token %}
                  <button type="submit" class="delete">Apagar</button>
                </form>
              </div>

            </div>
        </div>
      {% endfor %}
    </section>
  </main>

</body>
</html>